body{
    background-color: #ffffff;
}

.board{
    background: url("http://www.admira.sg/sites/default/files/imagecache/product_big/product/r_5732_fg_roxy_elegant.jpg");
    width:600px;
    height:600px;
    position: relative;
    margin: auto;
}
.letters-top{
    width: 538px;
    margin: auto;
}
.letters-top ul{
    display: block;
    text-align: center;
    width: 90%;
    position: absolute;
    padding: 0;

}
.letters-top li{
    display: inline-block;
    width: 11.5%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 30px;
    font-weight: 700;
    color: #352A24;
}
.numbers-left{
    height: 538px;
    position: absolute;
    left: 2%;
    top:9%;
}
.numbers-left ul{
    display: block;
    height: 100%;
}
.numbers-left li {
    height: 12.5%;
    font-weight: 700;
    color: #352A24;
}
.numbers-right{
    height: 538px;
    position: absolute;
    right: 2%;
    top:9%;
}
.numbers-right ul{
    display: block;
    height: 100%;
}
.numbers-right li {
    height: 12.5%;
    font-weight: 700;
    color: #352A24;
}
.letters-bottom{
    width: 538px;
    margin: auto;
}
.letters-bottom ul{
    display: block;
    text-align: center;
    width: 90%;
    position: absolute;
    padding: 0;
    bottom:0;

}
.letters-bottom li{
    display: inline-block;
    width: 11.5%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 30px;
    font-weight: 700;
    color: #352A24;
}

.fields{
    border: 5px solid #352A24;
    width:530px;
    height:530px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.fields-top{
    height: 50%;
}
.fields-bottom{
    height: 50%;
}
.row1, .row2, .row3,.row4,.row5,.row6,.row7,.row8{
    width: 100%;
    height: 25%;
}
.fields-top .dark{
    background-color: #352A24;
    opacity: 0.9;
    width: 12.5%;
    height: 100%;
    display: inline-block;
    float: left;
    position: relative;
 }
.fields-top .empty{
    width: 12.5%;
    height: 100%;
    display: inline-block;
    float: left;
}
.fields-top .cheker {
    border-radius: 50%;
    background-color: #a42727;
    width: 80%;
    height: 80%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 4px 2px rgba(30,30,32,1);
}
.fields-bottom .dark{
    width: 12.5%;
    height: 100%;
    float: right;

}
.fields-bottom .empty {
    background-color: #352A24;
    opacity: 0.9;
    width: 12.5%;
    height: 100%;
    float: right;
    position: relative;
}
.fields-bottom .cheker {
    border-radius: 50%;
    background-color: #ffffff;
    width: 80%;
    height: 80%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 4px 2px rgba(30,30,32,1);
}

